@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


 <div class="container mx-auto max-w-2xl py-28">
        <h1 class="flex flex-col text-4xl tracking-wide underline pb-8">
            <span>All Info about </span>
            <span>Angels Clothing Collection</span>
        </h1>
        <p class="text-lg leading-8 pb-3">
            Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perferendis, excepturi nisi placeat mollitia eligendi ducimus molestiae in obcaecati at aperiam minima hic aspernatur cumque aut nemo soluta cum corporis commodi porro. Aliquid animi nobis veniam temporibus, ad id fuga tempore quaerat error placeat ipsam eligendi enim officia aperiam quasi? Laboriosam consequatur suscipit laudantium impedit? Tempora impedit quod architecto! Impedit. ipsum dolor sit amet consectetur adipisicing elit. Excepturi ducimus rem odit veniam culpa, odio non distinctio ex beatae repudiandae!
        </p>
        <p class="text-lg font-bold pb-9">Whatsaap: +27 234 232 223</p>
        <a href="#" class="bg-red-600 py-3 text-lg px-10 text-white">Go to contact</a>
 </div>
