@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


 <div class="container mx-auto max-w-4xl py-28 px-8">
          <h1 class="flex flex-col text-4xl md:text-5xl tracking-wide underline pb-7">
              <span>Use the following Form</span>
              <span>to contact us</span>
          </h1>
          <div class="pb-20">
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <h1 class="font-sans text-xl tracking-wide underline my-1 md:my-0">T <span>angelsCollection</span></h1>
                    <h1 class="font-sans text-xl tracking-wide underline my-1 md:my-0">F <span>angels Collection</span></h1>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <h1 class="font-sans text-xl tracking-wide underline my-1 md:my-0">I <span>angelsCollection</span></h1>
                    <h1 class="font-sans text-xl tracking-wide underline my-1 md:my-0">W <span>+27 23 232 321 12</span></h1>
                </div>
          </div>
          <div class="max-w-lg ">
            <form action="">
                <div class="py-2">
                    <label>Name</label>
                    <input type="text" class="w-full py-2 px-4 border-2 border-gray-700">
                </div>
                <div class="py-2">
                    <label>Email</label>
                    <input type="email" class="w-full py-2 px-4 border-2 border-gray-700">
                </div>
                <div class="py-2">
                    <label>Message</label>
                    <textarea name="" class="w-full py-2 px-4 border-2 border-gray-700" id="" cols="30" rows="6"></textarea>
                </div>
                <button class="bg-green-600 py-3 text-lg text-white w-full">Send Message</button>
            </form>
          </div>
    </div>