@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!-- showcasing -->
    <div class="" id="show">
        <div class="">
            <div class="container mx-auto flex flex-col justify-center items-center px-8">
                <h1 class="text-4xl md:text-5xl font-bold text-center text-white tracking-wide pb-6">Angel's Clothing Collection</h1>
                <div class="max-w-3xl mx-auto text-red-300 pb-6">
                    <p class="text-center font-serif text-lg md:text-xl leading-7">
                        Lorem ipsum dolor sarchitecto ut ipsum, esse libero doloremque. Commodi praesentium cumque atque?
                    </p>
                </div>
                <div class="flex mx-auto gap-4">
                    <a asp-controller="Store" asp-action="Stores" class=" md:hidden font-serif text-lg bg-green-400 text-black py-3 px-9 transition ease-in-out duration-150 hover:bg-green-300">Store</a>
                    <a asp-controller="Store" asp-action="Stores" class="hidden md:block font-serif text-lg bg-green-400 text-black py-3 px-9 transition ease-in-out duration-150 hover:bg-green-300">Go to Store</a>
                    <a asp-controller="WebApplication"  asp-action="Contact" class="font-serif text-lg bg-green-400 text-black py-3 px-9 transition ease-in-out duration-150 hover:bg-green-300">Contact</a>
                </div>
            </div>
        </div>
    </div>

    <!-- categories -->
    <div class="container mx-auto max-w-4xl py-28 px-8">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-3" >
            <div id="bax" class="flex flex-col items-center justify-center">
                <a href="#" class="bg-white text-black font-serif text-xl tracking-wide py-2 px-5 transition ease-in-out duration-150 hover:bg-gray-300">Clothes</a>
            </div>
            <div id="bex" class="flex flex-col items-center justify-center">
                <a href="#" class="bg-white text-black font-serif text-xl tracking-wide py-2 px-5 transition ease-in-out duration-150 hover:bg-gray-300">Cosmetics</a>
            </div>
            <div id="bix" class="flex flex-col items-center justify-center">
                <a href="#" class="bg-white text-black font-serif text-xl tracking-wide py-2 px-5 transition ease-in-out duration-150 hover:bg-gray-300">Shoes</a>
            </div>
        </div>
    </div>

    <!-- latest -->
    <div class="bg-gray-200">
        <div class="container mx-auto max-w-4xl py-28 px-8">
           <div class="pb-16">
            <a href="#" class="font-sans text-lg text-white bg-black py-2 px-10 transition ease-in-out duration-150 hover:bg-gray-800">Go to Shop</a>
           </div>
           
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                
                <div class="mb-16 transition ease-in-out duration-150 border-2 border-gray-300 hover:border-gray-300 hover:shadow-xl">
                    <img src="/mgs/fifth.jpg" alt="">
                    <div class="flex flex-col items-center justify-center p-2">
                        <h1 class="font-sans text-xl py-2">Jeans Anna</h1>
                        <p class="font-bold text-lg py-3 text-red-600 underline">R 200.00</p>
                    </div>
                    <div class="flex align-center px-3 pb-4">
                        <a  class="bg-gray-900 text-center text-xl text-white py-2 w-full transition ease-in-out duration-150 hover:bg-gray-700">More Info</a>
                    </div>
                </div>
                <div class="mb-16 transition ease-in-out duration-150 border-2 border-gray-300 hover:border-gray-300 hover:shadow-xl">
                    <img src="/mgs/fourth.jpg" alt="">
                    <div class="flex flex-col items-center justify-center p-2">
                        <h1 class="font-sans text-xl py-2">t shirts</h1>
                        <p class="font-bold text-lg py-3 text-red-600 underline">R 1 200.00</p>
                    </div>
                    <div class="flex align-center px-3 pb-4">
                        <a  class="bg-gray-900 text-center text-xl text-white py-2 w-full transition ease-in-out duration-150 hover:bg-gray-700">More Info</a>
                    </div>
                </div>
                <div class="mb-16 transition ease-in-out duration-150 border-2 border-gray-300 hover:border-gray-300 hover:shadow-xl">
                    <img src="/mgs/second.jpg" alt="">
                    <div class="flex flex-col items-center justify-center p-2">
                        <h1 class="font-sans text-xl py-2">Kids Skirts</h1>
                        <p class="font-bold text-lg py-3 text-red-600 underline">R 800.00</p>
                    </div>
                    <div class="flex align-center px-3 pb-4">
                        <a  class="bg-gray-900 text-center text-xl text-white py-2 w-full transition ease-in-out duration-150 hover:bg-gray-700">More Info</a>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <!-- why us -->
    <div class="bg-white">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="Left"></div>
            <div class="right max-w-sm mx-auto px-6 py-6">
                <h1 class="font-serif text-4xl pb-4">Why Our Products</h1>
                <p class="font-sans text-lg">
                    Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur. consectetur adipisicing elit. Culpa maiores pariatur eum sapiente!
                </p>
            </div>
        </div>
    </div>